*
{
    margin: 0;
    padding: 0;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #000000;
}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}

.point
{
    position: absolute;
    top: 5%;
    left: 5%;
}

/* The switch - the box around the slider */
.switch {
    position: fixed;
    top: 2%;
    right: 2%;
    display: inline-block;
    width: 26px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    cursor: pointer;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #ff5e57;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    box-shadow: 0 0 2px black;
}

input:focus + .slider {
    box-shadow: 0 0 2px black;
}

input:hover + .slider {
    transform: scale(1.2);
}


input:checked + .slider:before {
    background-color: black;
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round {
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}

a {
    cursor: pointer;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ff6b6b;
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
}

.about {
    opacity: 0;
    padding: 2%;
}

.logo {
    cursor: pointer;
    position: fixed;
    color: white;
    right: 2%;
    bottom: 2%;
}
.logo:hover {
    opacity: 0.8;
}

h1 {
    font-size: 8vmin;
}

h2 {
    font-size: 5vmin;
    color: black;
}


section:nth-child(odd)
{
    justify-content: flex-end;
}
